
.books-wrap
    display: flex
    +maxwidth($desktop)
        position: relative

.books-slider
    width: 94% !important
    +maxwidth(1640px)
        width: 92% !important
    +maxwidth($desktop)
        width: 100% !important

    .slick-list
        .slick-track
            .slick-active
                z-index: 10

.books
    width: 100%
    display: flex!important
    justify-content: space-between
    position: relative
    +maxwidth($desktop)
        flex-direction: column

    &__text
        width: 45%
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 500px
        max-height: fit-content
        +maxwidth($desktop)
            min-height: 400px
            width: calc(100% - 250px)
            margin-top: 30px
            order: 2
        +maxwidth(1140px)
            width: 100%

        &-title
            @include style-text(46px, 6px, $vogue, $black, 100%, 500, true)
            transition: .4s ease-in
            &:hover
                opacity: 0.7
            +maxwidth($desktop)
                text-align: center

        &-description
            @include style-text(20px, 2px, $openSans, $darkgray, 125%, 300, false)
            text-align: justify
            +maxwidth($desktop)
                margin-top: 20px
            +maxwidth($mobail)
                margin-top: 20px
            +maxwidth($sm-mobail)
                margin-top: 10px

        .button-white
            margin-left: auto
            z-index: 100000

    &__wrapper
        width: 100%
        display: flex
        +maxwidth($desktop)
            width: fit-content
            order: 1

    &__img
        width: 40%
        margin: auto 0
        transition: .4s ease-in
        &:hover
            opacity: 0.7
        +maxwidth($desktop)
            width: 320px
            margin: 0
        +maxwidth($mobail)
            width: 280px
        +maxwidth($sm-mobail)
            width: 55%

        img
            width: 100%

    &__arrow
        width: 25%
        display: flex
        justify-content: center
        +maxwidth($desktop)
            width: 100px
            justify-content: flex-start
            &:last-child
                justify-content: flex-end
        +maxwidth($mobail)
            width: 50px
        +maxwidth($sm-mobail)
            width: 40px
            z-index: 10

        &-next,
        &-prev
            z-index: 3
            fill: $green
            width: 30px
            height: 40px
            display: flex
            cursor: pointer
            transition: .4s ease
            +maxwidth($desktop)
                width: 30px
                height: 30px
            +maxwidth($mobail)
                width: 20px
                height: 20px

            &:hover
                transform: scale(1.2)

        &-next
            margin-top: auto

        &-prev
            transform: rotate(180deg)
            &:hover
                transform: rotate(180deg) scale(1.2)

    &__numb
        width: 10%
        height: 435px
        margin: auto 0
        display: flex !important
        align-items: center
        flex-direction: column
        +maxwidth($desktop)
            position: absolute
            top: 10%
            right: 10%
        +maxwidth($mobail)
            width: 15%
            top: 6%
        +maxwidth($sm-mobail)
            height: 265px !important
        +maxwidth(320px)
            top: 0

        &-dot
            font: normal 60px/100% $vogue
            color: rgba(31, 31, 31, 0.6)
            text-align: center
            transition: .3s ease
            +maxwidth($desktop)
                font-size: 50px
            +maxwidth(650px)
                width: 45px
                font-size: 30px

.books__numb
    .slick-slider
        position: relative
        display: block
        box-sizing: border-box
        touch-callout: none
        user-select: none
        touch-action: pan-y
        tap-highlight-color: transparent
        margin: auto 0

        .slick-list
            margin: 0
            padding: 0 !important
            position: relative
            overflow: hidden
            display: block
            +maxwidth($sm-mobail)
                height: 200px !important

            &:focus
                outline: none

            &.dragging
                cursor: pointer

            .slick-track
                top: 0
                left: 0
                position: relative
                display: block

                &:before,
                &:after
                    content: ''
                    display: table
                &:after
                    clear: both

                .slick-slide
                    width: 90px !important
                    padding: 40px 0 !important
                    transition: .4s ease-in
                    +maxwidth($sm-mobail)
                        width: 50px !important
                        padding: 20px 0 !important

                .slick-center
                    transform: scale(1.2) !important
                    div
                        .books__numb-dot
                            color: $carbonic !important
