
.timeline
    height: 200px
    position: relative
    margin-bottom: 30px
    +maxwidth($tablet)
        width: calc(100% - 60px)
        margin: 0 30px
    +maxwidth($mobail)
        width: calc(100% - 40px)
        margin: 0 20px

.line
    width: 100%
    top: 0
    bottom: 0
    margin: auto 0
    padding: 0
    position: absolute
    height: 1px
    background: $green
    z-index: -3

.event-dot
    padding-bottom: 15px
    position: relative
    text-align: center
    cursor: pointer

    &__wrapper
        display: flex
        flex-direction: column
        align-items: center

    &__icon
        width: 36px
        height: 36px
        margin-bottom: 57px
        border: 1px solid $green
        border-radius: 50%
        position: relative
        display: flex
        align-items: center
        justify-content: center
        z-index: -3
        transition: all .4s ease
        cursor: pointer
        &:before
            width: 1px
            height: 66px
            top: 34px
            right: 16px
            content: ''
            position: absolute
            background: $green
            z-index: -3

        &-pencil, &-books, &-wishlist, &-author
            background-size: 20px 20px !important

        &-pencil
            background: url('/icons/sprite.svg#pencil-green') no-repeat center / contain

        &-books
            background: url('/icons/sprite.svg#books-green') no-repeat center / contain

        &-wishlist
            background: url('/icons/sprite.svg#wishlist-green') no-repeat center / contain

        &-author
            background: url('/icons/sprite.svg#author-green') no-repeat center / contain

    &__item
        width: 16px
        height: 16px
        cursor: pointer
        position: relative
        display: flex
        justify-content: center
        align-items: center

        &-dot
            width: 15px
            height: 15px
            background: $green
            border-radius: 50%
            box-shadow: 0 0 0 rgba($green, 0.8)
            display: flex
            z-index: 2
            &:hover
                animation: pulse 2s infinite

        &-after
            width: 36px
            height: 36px
            position: absolute
            top: -10px
            right: -10px
            border: 1px solid $green
            background: $white
            border-radius: 50%
            z-index: 1
            transition: all .4s ease
            animation: pulse 2s infinite

    &__date
        margin-top: 25px
        @include style-text(16px, 1px, $openSans, $green, 100%, 300, false)
        transition: all .4s ease

    &__description
        margin-left: 10px
        top: 0
        position: absolute
        left: 60%
        width: 130px
        display: flex
        flex-direction: column
        text-align: start
        transition: all .4s ease

        &-text
            margin-bottom: 5px
            @include style-text(16px, 1px, $openSans, $green, 100%, 300, false)
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 4
            -webkit-box-orient: vertical

.invisible
    opacity: 0
    animation: none

.anim
    animation: pulse 2s infinite