@import 'config'

.rating
    position: relative
    margin-bottom: 20px
    &:hover
        .rating-user,
        .rating__rate
            opacity: 1
            transition: .1s ease-in

    &__passive
        width: 155px
        height: 31px
        position: relative
        display: block
        +maxwidth($tablet)
            width: 135px
            height: 25px
        +maxwidth($sm-mobail)
            width: 120px
            height: 23px

        &-background
            width: 155px
            background-position: 0 0
            z-index: 1
            +maxwidth($tablet)
                width: 135px
            +maxwidth($sm-mobail)
                width: 120px

        &-mask
            opacity: 0.6 !important
            background-position: 0 -41px
            z-index: 99

    &__passive > div
        height: 31px
        top: 0
        position: absolute
        background: url('/images/icons/sprite.svg#stars-view') no-repeat
        background-size: 155px 100px
        background-position: 0 0
        cursor: pointer
        opacity: 0.4
        transition: .2s ease-in
        +maxwidth($tablet)
            height: 25px
            background-size: 135px 85px
        +maxwidth($sm-mobail)
            height: 23px
            background-size: 120px 75px

    &__text
        width: 155px
        height: 0
        margin: 0
        @include style-text(17px, 0, $openSans, $green, 100%, 300, false)
        position: absolute
        text-align: center
        opacity: 0
        transition: .1s ease-in
        +maxwidth($tablet)
            width: 135px
        +maxwidth($mobail)
            width: 120px

    &__rate
        width: fit-content
        display: flex
        position: absolute
        opacity: 0
        padding: 6px 20px
        bottom: 44px
        left: 44px
        content: '4.9 по 21 оценке'
        @include style-text(17px, 0, $openSans, $white, 100%, 300, false)
        background: rgba(38, 77, 75, 0.6)
        border-radius: 5px
        +maxwidth($tablet)
            left: 40px
            bottom: 38px
        +maxwidth($mobail)
            display: none

        &:after
            width: 3px
            height: 1px
            bottom: -18px
            left: 27px
            content: ''
            position: absolute
            opacity: 0.6
            border: 6px solid transparent
            border-top: 12px solid $green
            +maxwidth($tablet)
                left: 27px
                bottom: -18px
            +maxwidth($mobail)
                display: none

.rating-user
    opacity: 0
    transition: .1s ease-in

    &__wrapper
        width: 155px
        height: 31px
        padding: 10px 0
        position: absolute
        z-index: 9999
        background-color: $white
        border-radius: 5px
        cursor: pointer
        +maxwidth($tablet)
            width: 135px
            height: 25px
        +maxwidth($sm-mobail)
            width: 120px
            height: 23px

    &__voting
        direction: rtl
        position: relative
        top: -10px

        &-vote
            width: 30px
            height: 30px
            top: 0
            left: 0
            position: absolute
            background: url('/images/icons/sprite.svg#stars-view') no-repeat
            background-size: 155px 100px
            cursor: pointer
            z-index: 99999
            transition: .2s ease-in
            +maxwidth($tablet)
                width: 28px
                height: 24px
                background-size: 135px 85px
            +maxwidth($sm-mobail)
                width: 26px
                background-size: 120px 75px
            &:hover
                transition: .2s
                background-position: 0 -36px
                +maxwidth($tablet)
                    background-position: 0 -32px
                +maxwidth($sm-mobail)
                    background-position: 0 -28px

            &.active
                transition: .2s
                background-position: 0 -36px
                +maxwidth($tablet)
                    background-position: 0 -32px
                +maxwidth($sm-mobail)
                    background-position: 0 -28px

        &-one
            left: 77%
        &-two
            left: 58%
        &-three
            left: 39%
        &-four
            left: 19%
        &-five
            left: 0

.rating-user__voting-vote:hover ~ .rating-user__voting-vote, .rating-user__voting-vote.active ~ .rating-user__voting-vote
    transition: .2s
    background-position: 0 -36px
    +maxwidth($tablet)
        background-position: 0 -32px
    +maxwidth($sm-mobail)
        background-position: 0 -28px
.rating .rating-user__voting-vote:hover, .rating.voted .rating-user__voting-vote.active
    transition: .2s
    background-position: 0 -36px
    +maxwidth($tablet)
        background-position: 0 -32px
    +maxwidth($sm-mobail)
        background-position: 0 -28px

.voted
    .rating-user
        pointer-events: none
        opacity: 1
        transition: .1s ease-in

    .rating-user__voting-vote
        &:hover
            background-position: 0 0
        &.active
            transition: .2s ease-in
            background-position: 0 -36px
            opacity: 1
            +maxwidth($tablet)
                background-position: 0 -32px
            +maxwidth($sm-mobail)
                background-position: 0 -28px
            &:hover
                background-position: 0 -81px

    .rating__text
        opacity: 1
        transition: .1s ease-in
        height: auto




