@import 'config'

.patina
    max-width: calc(100% - 310px)
    width: 100%
    font: normal 130px/100% $lumen
    color: $black
    margin-top: 30px
    display: flex
    margin-left: 415px
    position: relative
    &:after, &:before
        position: absolute
        top: -82px
        content: ''
        width: 5px
        height: 340px
        background: $carbonic
    &:after
        left: 205px
    &:before
      left: 195px
