@import 'config'

.wrapper
    display: flex

.section
    width: 100%
    max-width: calc(100% - 620px)
    min-height: 100vh
    margin: 0 auto
    padding: 40px
    position: relative
    display: flex
    //justify-content: space-between
    flex-direction: column
    +maxwidth($desktop)
        border-top: none
        max-width: calc(100% - 210px)
    +maxwidth($tablet)
        max-width: 100%

    &__top
        width: 100%
        display: flex
        align-items: flex-end

    &__title
        @extend %sectiontitle

    &__subtitle
        @extend %sectionsubtitle
        margin-top: 25px
        opacity: 0

        &--reviews
            width: 65%

        &.active
            opacity: 1
            transition: .3s ease-in

    &__profile
        margin-left: 40px
        display: flex
        align-items: center

    &__blocks
        display: flex
        justify-content: space-between

        &-title
            margin-bottom: 20px
            font: 300 17px/100% $openSans
            color: $darkgray

    &--index
        max-width: calc(100% - 310px)
        margin: 0 0 0 auto

    &--events
        width: 100%
        height: 100%
        padding: 40px
        display: flex
        justify-content: space-between
        flex-direction: column

    &--form
        display: flex
        flex-direction: column
        align-items: center

.content
    display: flex
    flex-direction: row
    justify-content: space-between

    &__containerBook
        max-width: calc(50% - 50px)
        width: 100%
        display: flex
        flex-direction: column

    &__containerTop
        max-width: 50%
        width: 100%

.news
    flex-wrap: wrap

    &__container
        display: flex
        justify-content: space-between

        &-content
            max-width: 100%
            margin: 25px 0 0 40px
            display: flex
            flex-direction: column

.icons
    display: flex
    justify-content: flex-end
    align-items: center

    &__socials
        margin-right: 80px

.section-enter
    opacity: 0
    transform: scale(1.1)

.section-enter-active
    opacity: 1
    transform: scale(1)
    transition: opacity 300ms, transform 300ms

.section-exit
    opacity: 1
    transform: scale(1)


.section-exit-active
    opacity: 0
    transform: scale(0.9)
    transition: opacity 300ms, transform 300ms


.fade
    &-appear, &-enter
        opacity: 0
        z-index: 1

        &-active
            opacity: 1
            transition: .6s ease-in

.arrowBackwards
    width: 50px
    height: 36px
    transform: rotate(180deg)
    background: url('/images/icons/arrow.svg') no-repeat center / contain
    &:hover
        transform: translate(100)

.arrowBackwardsLink
    z-index: 4

.blur
    filter: blur(2px)