@import 'config'

.button, .user-button
    display: flex
    justify-content: center
    align-items: center
    font:  300 16px/100% $openSans
    cursor: pointer
    transition: all .3s ease
    +maxwidth($mobail)
        font-size: 15px

.button
    width: 150px
    height: 36px
    +maxwidth($tablet)
        width: 140px
    +maxwidth($mobail)
        height: 30px
        width: 130px

.user-button
    width: 120px
    height: 30px
    +maxwidth($mobail)
        font-size: 14px
        width: 90px
        height: 25px
    +maxwidth($sm-mobail)
        font-size: 12px
        width: 70px

.follow-button
    width: fit-content
    height: fit-content
    padding: 5px
    margin-top: 15px
    display: flex
    justify-content: center
    align-items: center
    font:  300 13px/100% $openSans
    border: 1px solid $darkgray
    cursor: pointer
    transition: all .3s ease
    &:hover
        background: $darkgray
        color: $white

.button-green
    background-color: $green
    color: $white
    border: none

    &:hover
        background: $white
        color: $green
        border: 1px solid $green

.button-white
    background-color: $white
    color: $green
    border: 1px solid $green

    &:hover
        background: $green
        color: $white

.tags
    width: 206px
    display: flex
    flex-wrap: wrap

    &__elem
        height: 36px
        width: fit-content
        margin: 5px 5px 0 0
        padding: 10px
        display: flex
        justify-content: center
        align-items: center
        background-color: $white
        color: $green
        border: 1px solid $green
        border-radius: 10px
        font:  normal 13px/100% $openSans
        transition: all .3s ease
        +maxwidth($mobail)
            height: 26px
            padding: 5px
        +maxwidth($sm-mobail)
            height: fit-content
            text-align: center

        &:hover
            color: $white
            background: $green

.button-write-review
    width: 150px
    margin-top: 15px

.button-write-top
    width: 170px

    &__img
        background: url('/images/icons/sprite.svg#tops-view') no-repeat center / contain
        svg
            animation: none

.button-write-review,
.button-write-top
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer

    &__img
        width: 23px
        height: 23px
        display: flex
        cursor: pointer
        position: relative
        transition: all 1s ease
        +maxwidth($tablet)
            width: 20px
            height: 20px
        +maxwidth($mobail)
            width: 15px
            height: 15px

        svg
            width: 100%
            height: 100%
            fill: white
            stroke: $green
            stroke-width: 50
            stroke-dasharray: 550 0
            stroke-dashoffset: 1000
            animation: dasharray 5s infinite alternate
            &:hover
                animation: none

    &__text
        margin-left: 7px
        font: 300 18px/100% $openSans
        color: $green
        +maxwidth($tablet)
            font-size: 14px
        +maxwidth($mobail)
            font-size: 14px

.disabled
    background: $green
    opacity: 0.6
    color: $white
    cursor: default
    &:hover
        background: $green
        opacity: 0.6
        color: $white



