@charset "UTF-8"

// Цвета
// ===================

$black: #000000
$carbonic: #1f1f1f
$darkgray: #444444
$lightgray: #7c7c7c
$white: #ffffff
$darkgreen: #003835
$green: #264d4b
$browngray: #8a8a6e
$sand: #cdb7aa
$lightpink: #f7ede3
$pink: #d9b2af

// Шрифты
// ===================

$waverly: 'Waverly CF'
$waverlyExtra: 'Waverly CF Extra'
$vogue: 'Vogue Highline Serif'
$lumen: 'Lumen'
$openSans: 'Open Sans Condensed'
$izvestia: 'Izvestija'
$cheque: 'Cheque'

// Форматирование текста
// ===================

%sectiontitle
    display: flex
    align-items: center
    flex-wrap: wrap
    color: $black
    font: 500 70px/78% $vogue
    text-transform: uppercase
    [class*="letter"]
        transform-origin: 0% 50%

%sectionsubtitle
    color: $darkgray
    font: 500 33px/100% $vogue

%sectiontext
    color: $darkgray
    font: 300 20px/120% $openSans

// Основные разрешения
// ===================

$max-width: 1320px
$desktop: 1330px
$tablet: 991px
$mobail: 767px
$sm-mobail: 575px
$min-width: 320px

=maxwidth($w)
  @media only screen and (max-width: $w)
    @content