@charset "UTF-8"

// Основные разрешения
// ===================

$desktop: 1330px
$tablet: 991px
$mobail: 767px
$sm-mobail: 575px
$min-width: 320px

=maxwidth($w)
    @media only screen and (max-width: $w)
        @content

// Цвета
// ===================

$black: #000000
$carbonic: #1f1f1f
$darkgray: #444444
$lightgray: #7c7c7c
$white: #ffffff
$darkgreen: #003835
$green: #264d4b
$browngray: #8a8a6e
$sand: #cdb7aa
$lightpink: #f7ede3

// Шрифты
// ===================

$waverly: 'Waverly CF'
$waverlyExtra: 'Waverly CF Extra'
$vogue: 'Vogue Highline Serif'
$lumen: 'Lumen'
$openSans: 'Open Sans Condensed'
$izvestia: 'Izvestija'
$cheque: 'Cheque'

// Форматирование текста
// ===================

%sectiontitle
    display: flex
    align-items: center
    flex-wrap: wrap
    color: $black
    font: 500 70px/78% $vogue
    text-transform: uppercase
    +maxwidth($tablet)
        font-size: 55px
    +maxwidth($mobail)
        font-size: 40px
    [class*="letter"]
        transform-origin: 0% 50%

%sectionsubtitle
    color: $darkgray
    font: 500 33px/100% $vogue
    +maxwidth($tablet)
        font-size: 29px
    +maxwidth($mobail)
        font-size: 25px

%sectiontext
    color: $darkgray
    font: 300 20px/120% $openSans
    +maxwidth($tablet)
        font-size: 18px
    +maxwidth($mobail)
        font-size: 16px

%inputtext
    font: 300 25px/120% $openSans
    color: $lightgray
    +maxwidth($tablet)
        font-size: 23px
    +maxwidth($mobail)
        font-size: 21px
    +maxwidth($sm-mobail)
        font-size: 19px

%formtext
    font: 300 20px/100% $openSans
    color: $lightgray
    +maxwidth($tablet)
        font-size: 18px

%profiletitle
    font: 300 26px/100% $openSans
    color: $black
    +maxwidth($tablet)
        font-size: 22px
    +maxwidth($mobail)
        font-size: 20px
    +maxwidth($sm-mobail)
        font-size: 18px

%profiletype
    font: 300 16px/100% $openSans
    color: $darkgray
    +maxwidth($tablet)
        font-size: 14px
    +maxwidth($mobail)
        font-size: 12px

%profilename
    margin-top: 5px
    font: 300 18px/100% $openSans
    color: $black
    +maxwidth($tablet)
        font-size: 16px
    +maxwidth($mobail)
        font-size: 14px

%wethercard
    font: bold 80px/75% $cheque
    color: $white
    +maxwidth($desktop)
        font-size: 70px
    +maxwidth($tablet)
        font-size: 60px
    +maxwidth($mobail)
        font-size: 50px
    +maxwidth($sm-mobail)
        font-size: 40px

%slidertitle
    font: 500 46px/100% $vogue
    color: $darkgray
    +maxwidth($tablet)
        font-size: 40px
    +maxwidth($mobail)
        font-size: 34px
    +maxwidth($sm-mobail)
        font-size: 28px

%authorname
    max-width: 120px
    font: bold 26px/100% $waverlyExtra
    color: $black
    text-transform: uppercase
    +maxwidth($mobail)
        max-width: 100px
    +maxwidth($sm-mobail)
        max-width: 90px

%authordate
    margin-top: 40px
    font: 100 26px/100% $waverly
    color: $black
