@import 'config'

.form-wrapper
    max-width: 70%
    width: 100%
    +maxwidth(1640px)
        max-width: 100%

.form, .registration

    &__title
        margin-bottom: 20px
        text-align: center
        font: 500 50px/100% $waverly
        +maxwidth($tablet)
            margin-bottom: 15px
            font-size: 45px
        +maxwidth($mobail)
            margin-bottom: 10px
            font-size: 40px

    &__radio
        height: 100%
        margin-left: 35px
        display: flex
        flex-direction: column
        @extend %formtext
        +maxwidth($tablet)
            max-height: 84px
            margin-bottom: 15px
        +maxwidth($mobail)
            max-height: 64px
            margin-bottom: 10px

        &-error
            @extend %formtext
            margin-top: 10px
            margin-left: -35px

        &-radio
            margin-top: 7px

        span,
        label
            @extend %inputtext

        input
            z-index: -1
            opacity: 0
            width: 0
            height: 0
            visibility: hidden
            &:checked + label:after
                opacity: 1

        label
            position: relative
            &:before, &:after
                content: ''
                border-radius: 50%
                position: absolute
            &:before
                width: 20px
                height: 20px
                border: 1px solid $green
                background: $white
                left: -30px
                top: 10px
            &:after
                width: 10px
                height: 10px
                background: $green
                left: -25px
                top: 15px
                transition: .5s ease
                opacity: .3

    &__group
        width: 100%
        max-height: 50px
        height: 50px
        margin: 15px 0
        position: relative
        @extend %formtext
        +maxwidth($tablet)
            max-height: 40px

        &-img
            width: 25px
            height: 25px
            bottom: 10px
            position: absolute
            +maxwidth($tablet)
                width: 20px
                height: 20px
                bottom: 5px
            +maxwidth($sm-mobail)
                bottom: 9px

        &-user
            background: url('/images/icons/sprite.svg#user-view') no-repeat center / contain
        &-author
            background: url('/images/icons/sprite.svg#author-view') no-repeat center / contain
        &-books
            background: url('/images/icons/sprite.svg#books-view') no-repeat center / contain
        &-email
            background: url('/images/icons/sprite.svg#email-view') no-repeat center / contain
            +maxwidth($sm-mobail)
                bottom: 6px
        &-films
            background: url('/images/icons/sprite.svg#films-view') no-repeat center / contain
        &-fun
            background: url('/images/icons/sprite.svg#fun-view') no-repeat center / contain
            bottom: 5px
        &-password
            background: url('/images/icons/sprite.svg#password-view') no-repeat center / contain
        &-placeholder
            background: url('/images/icons/sprite.svg#placeholder-view') no-repeat center / contain
        &-telephone
            background: url('/images/icons/sprite.svg#telephone-view') no-repeat center / contain
        &-quote
            background: url('/images/icons/sprite.svg#quote-green') no-repeat center / contain
        &-clock
            background: url('/images/icons/sprite.svg#clock-green') no-repeat center / contain
        &-wishlist
            background: url('/images/icons/sprite.svg#wishlist-view') no-repeat center / contain
            +maxwidth($mobail)
                margin-top: 7px !important


        textarea
            width: 100%
            height: 100%
            resize: none

        input,
        label,
        textarea
            @extend  %inputtext

        input,
        textarea
            padding: 10px 10px 5px 35px
            margin-bottom: 10px
            display: block
            width: 100%
            border: none
            border-bottom: 1px solid $green
            &:focus
                outline: none

        label
            position: absolute
            pointer-events: none
            left: 35px
            top: 12px
            transition: 0.2s ease all
            +maxwidth($tablet)
                left: 30px

        input:focus ~ label, input:not(:placeholder-shown) ~ label
            top: -20px
            font-size: 16px
            color: $green
            +maxwidth($mobail)
                top: -15px
                font-size: 14px

        textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
            top: -20px
            font-size: 16px
            color: $green
            +maxwidth($mobail)
                top: -15px
                font-size: 14px

            &-bar
                position: relative
                display: block
                &:before,
                &:after
                    content: ''
                    height: 2px
                    width: 0
                    bottom: 1px
                    position: absolute
                    background: #5264AE
                    transition: 0.2s ease all
                &:before
                    left: 50%
                &:after
                    right: 50%

            input:focus ~ .form__group-bar:before, input:focus ~ .form__group-bar:after
                width: 50%

            textarea:focus ~ .form__group-bar:before, textarea:focus ~ .form__group-bar:after
                width: 50%

            &-highlight
                position: absolute
                height: 60%
                width: 100px
                top: 25%
                left: 0
                pointer-events: none
                opacity: 0.5

            input:focus ~ .form__group-highlight
                animation: inputHighlighter 0.3s ease

            textarea:focus ~ .form__group-highlight
                animation: inputHighlighter 0.3s ease

    &__upload
        width: 100%
        height: 60px
        display: flex
        align-items: center
        margin-top: 20px
        +maxwidth($tablet)
            height: 50px
        +maxwidth($mobail)
            height: 40px
            margin-top: 30px

        label
            width: 50px
            display: flex
            margin-right: 20px
            +maxwidth($tablet)
                margin-right: 15px
            +maxwidth($mobail)
                margin-right: 10px

        &-text
            width: 100%
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center

        &-fileName
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 10px
            span
                color: $green !important

        &-close
            width: 15px
            height: 15px
            cursor: pointer
            background: url('/images/icons/sprite.svg#close-green') no-repeat center / contain
            +maxwidth($mobail)
                width: 12px
                height: 12px

        input
            width: 0
            visibility: hidden

        span
            white-space: nowrap
            @extend %inputtext

        &-img
            background: url('/images/icons/sprite.svg#upload-view') no-repeat center / contain
            background-size: 30px 30px
            min-width: 50px
            width: 100%
            height: 50px
            margin-right: 20px
            border: 1px solid $green
            border-radius: 20px
            display: flex
            cursor: pointer
            +maxwidth($mobail)
                min-width: 40px
                height: 40px
                background-size: 25px 25px
                border-radius: 10px

    &__success
        display: none
        margin: 20%
        text-align: center
        font: bold 40px/100% $openSans
        color: $green
        +maxwidth($tablet)
            font-size: 32px
        +maxwidth($mobail)
            font-size: 24px
        &.success-error
            margin: 20px
            font: bold 30px/100% $openSans
            color: red
            +maxwidth($tablet)
                font-size: 25px
            +maxwidth($mobail)
                font-size: 20px

.registration
    max-width: 100% !important
    padding: 0 120px
    +maxwidth(1640px)
        padding: 0

    &__grid
        display: grid !important
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(7, 1fr)
        grid-auto-flow: column
        grid-column-gap: 60px
        +maxwidth($mobail)
            grid-template-columns: repeat(1, 1fr)
            grid-template-rows: repeat(14, 1fr)
            max-height: 100%

        button
            margin: auto 0 20px
            height: 50px
            width: 100%
            font-size: 22px
            +maxwidth($tablet)
                margin: auto 0 10px
                height: 40px
                font-size: 20px
            +maxwidth($mobail)
                margin-bottom: 0
                font-size: 18px

    &__radio
        max-height: 120px
        margin-top: -15px

.form
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-bottom: 100px
    +maxwidth($mobail)
        margin-bottom: 30px

    button
        height: 50px
        margin: auto
        font-size: 22px
        +maxwidth($tablet)
            margin-top: 30px
            height: 40px
            font-size: 20px
        +maxwidth($mobail)
            font-size: 18px

    &__radio
        max-height: 104px
        margin-bottom: 20px
        margin-top: 30px !important

.select
    width: 100%
    margin: 10px 0
    display: flex
    flex-direction: column
    position: relative
    @extend %formtext
    &:focus
        border: none
        outline: none !important
        box-shadow: none !important

    &__placeholder
        top: 60% !important
        @extend %inputtext

    &__control
        border: none !important
        border-radius: 0 !important
        border-bottom: 1px solid $green !important
        &--is-focused
            outline: none
            box-shadow: none !important

    &__menu
        z-index: 3 !important

    &__option
        @extend %formtext
        color: $black
        padding: 12px !important
        &:hover
            background: rgba(38, 77, 75, 0.3)

    &__option--is-focused
        background-color: rgba(38, 77, 75, 0.3) !important

    &__value-container
        padding: 5px 35px !important
        +maxwidth($mobail)
            padding: 5px 30px !important

    &__img
        bottom: 20px
        z-index: 2
        +maxwidth($tablet)
            bottom: 30px
        +maxwidth($mobail)
            bottom: 20px
        +maxwidth($sm-mobail)
            bottom: 15px

    label,
    option,
    select
        @extend %inputtext

    select,
    option
        width: 100%
        height: 40px

.editor
    display: flex
    flex-direction: column
    @extend %formtext
    margin-bottom: 30px
    +maxwidth($mobail)
        margin-bottom: 20px

    &__title
        margin: 40px 0 20px 35px
        @extend %inputtext

    &__error

    .button
        margin-top: 20px
        +maxwidth($tablet)
            margin-top: 15px
        +maxwidth($mobail)
            margin-top: 10px

.codex-editor
    margin-bottom: 15px
    border: 1px solid #ddd
    +maxwidth($tablet)
        margin-bottom: 10px
    +maxwidth($mobail)
        margin-bottom: 5px

.codex-editor__redactor
    min-height: 200px
    padding-bottom: 0 !important

.ce-block__content
    max-width: 90% !important
    width: 100%
    @extend %formtext

.ce-toolbar__plus
    left: -60px

.ce-toolbox__button
    &:hover
        fill: $green

.ce-toolbar__plus--active,
.ce-toolbar__plus:hover
    color: $green

.ce-toolbox__button--active,
.ce-toolbox__button:hover
    color: $green


