
.entrance
    width: 310px
    display: flex
    +maxwidth(1640px)
        width: 250px
    +maxwidth($tablet)
        width: 135px

    &__column
        margin:  auto
        display: flex

        &-wrap
            display: flex
            flex-direction: column

            .follow-button
                margin-top: 10px
                +maxwidth($mobail)
                    margin-top: 5px
                &:first-child
                    margin-top: 0

    &__wrapper
        margin: 0 auto
        display: flex

        &-wrap,
        &-profile
            display: flex
            margin-right: 15px
            +maxwidth($mobail)
                margin-right: 10px

        &-bell,
        &-profile
            width: 25px
            height: 24px
            +maxwidth($mobail)
                width: 20px
                height: 19px

        &-bell
            margin-right: 5px
            background: url('/icons/sprite.svg#bell-green') no-repeat center / contain

        &-counter
            @include style-text(15px, 0, $openSans, $green, 100%, 300, false)

        &-profile
            background: url('/icons/sprite.svg#user-green') no-repeat center / contain

        &-exit
            width: 20px
            height: 24px
            background: url('/icons/sprite.svg#exit-green') no-repeat center / contain
            transform: scale(-1, 1)
            cursor: pointer
            +maxwidth($mobail)
                width: 15px
                height: 19px


