
.rating
    width: fit-content
    position: relative
    margin-bottom: 20px
    &:hover
        .rating-user,
        .rating__rate
            opacity: 1
            transition: .1s ease-in

    &__passive
        width: 155px
        height: 31px
        position: relative
        display: block

        &-background
            width: 155px
            background-position: 0 0
            z-index: 1

        &-mask
            opacity: 0.6 !important
            background-position: 0 -41px
            z-index: 99

    &__passive > div
        height: 31px
        top: 0
        position: absolute
        background: url('/icons/sprite.svg#stars-view') no-repeat
        background-size: 155px 100px
        background-position: 0 0
        cursor: pointer
        opacity: 0.4
        transition: .2s ease-in

    &__text
        width: 155px
        height: 0
        margin: 0
        @include style-text(17px, 0, $openSans, $green, 100%, 300, false)
        position: absolute
        text-align: center
        opacity: 0
        transition: .1s ease-in
        +maxwidth($tablet)
            width: 135px
        +maxwidth($mobail)
            width: 120px

    &__rate
        width: fit-content
        display: flex
        position: absolute
        opacity: 0
        padding: 6px 20px
        bottom: 44px
        left: 44px
        content: '4.9 по 21 оценке'
        @include style-text(17px, 0, $openSans, $white, 100%, 300, false)
        background: rgba(38, 77, 75, 0.6)
        border-radius: 5px
        +maxwidth($mobail)
            display: none

        &:after
            width: 3px
            height: 1px
            bottom: -18px
            left: 27px
            content: ''
            position: absolute
            opacity: 0.6
            border: 6px solid transparent
            border-top: 12px solid $green
            +maxwidth($mobail)
                display: none

.rating-user
    opacity: 0
    transition: .1s ease-in

    &__wrapper
        width: 155px
        height: 31px
        padding: 10px 0
        position: absolute
        z-index: 9999
        background-color: $white
        border-radius: 5px
        cursor: pointer

    &__voting
        direction: rtl
        position: relative
        top: -10px

        &-vote
            width: 30px
            height: 30px
            top: 0
            left: 0
            position: absolute
            background: url('/icons/sprite.svg#stars-view') no-repeat
            background-size: 155px 100px
            cursor: pointer
            z-index: 99999
            transition: .2s ease-in
            &:hover
                transition: .2s
                background-position: 0 -36px

            &.active
                transition: .2s
                background-position: 0 -36px

        &-one
            left: 77%
        &-two
            left: 58%
        &-three
            left: 39%
        &-four
            left: 19%
        &-five
            left: 0

.rating-user__voting-vote:hover ~ .rating-user__voting-vote, .rating-user__voting-vote.active ~ .rating-user__voting-vote
    transition: .2s
    background-position: 0 -36px

.rating .rating-user__voting-vote:hover, .rating.voted .rating-user__voting-vote.active
    transition: .2s
    background-position: 0 -36px

.voted
    .rating-user
        pointer-events: none
        opacity: 1
        transition: .1s ease-in

    .rating-user__voting-vote
        &:hover
            background-position: 0 0
        &.active
            transition: .2s ease-in
            background-position: 0 -36px
            opacity: 1
            &:hover
                background-position: 0 -81px

    .rating__text
        opacity: 1
        transition: .1s ease-in
        height: auto




