@import 'config'

.book-text
    width: 50%
    display: flex
    flex-direction: column
    margin-top: 80px

    &__title
        font: 500 48px/100% $vogue
        color: $black
        text-transform: uppercase
        margin-bottom: 50px
        text-align: left

    &__about
        font: 600 16px/160% $vogue
        color: $black
        text-align: justify
        margin-bottom: 60px

        p
            text-indent: 35px
            margin-bottom: 25px

    &__buttons
        display: flex
        justify-content: space-between
        margin-bottom: 35px

    &__icons
        display: flex
        justify-content: flex-end