@import 'config'

.listTop
    width: 100%
    padding-left: 50px
    margin-top: -20px
    display: flex
    flex-direction: column
    align-items: center
    background-image: linear-gradient(to right, $sand 1px, rgba(255,255,255,0) 1px)
    background-position: center
    background-size: 100% 260px
    background-repeat: no-repeat

    &__link
        margin-top: 35px
        font: 300 30px/100% $waverly
        color: $black
        transition: .4s ease

        &:hover
            font-weight: 500
            transform: scale(1.2)
            color: $pink

        &:first-child
            margin-top: 0

