
.event-picture
    display: grid
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 3
    grid-column-end: 4
    +maxwidth($desktop)
        grid-column-start: 2
        grid-column-end: 3
    +maxwidth($sm-mobail)
        grid-column-start: 1
        grid-column-end: 2

    &:nth-child(2)
        margin-top: 0
        grid-row-start: 3
        grid-row-end: 4
        grid-column-start: 4
        grid-column-end: 5
        +maxwidth($desktop)
            grid-row-start: 5
            grid-row-end: 6
            grid-column-start: 3
            grid-column-end: 4
        +maxwidth($mobail)
            grid-row-start: 7
            grid-row-end: 8
            grid-column-start: 2
            grid-column-end: 3

