@import 'config'

.menu
    max-width: 310px
    min-width: 310px
    padding: 0
    position: relative
    display: flex
    align-items: center
    flex-direction: column
    background-image: linear-gradient($black 50%, rgba(255,255,255,0) 0%)
    background-position: right
    background-size: 1px 10px
    background-repeat: repeat-y
    transition: all .7s ease
    +maxwidth($desktop)
        border-top: none
        width: 210px
    +maxwidth($tablet)
        display: none

    &.close
        transform: translateX(-100%)
        opacity: 0
        width: 0
        visibility: hidden

    &--index
        background-image: none !important
        position: fixed

    &__burger
        width: 44px
        height: 24px
        margin-top: 80px
        top: 0
        left: 80px
        position: fixed
        z-index: 50
        display: flex
        align-items: center
        cursor: pointer

        &-center
            width: 30px
            height: 2px
            background: $carbonic
            transition: all .2s ease

            &:before, &:after
                height: 2px
                position: absolute
                content: ''
                background: $carbonic

            &:before
                width: 44px
                top: 0

            &:after
                width: 15px
                bottom: 0

        &.open
            .menu__burger-center
                transform: rotate(45deg)

                &:before
                    transform: rotate(270deg)
                    width: 30px

                &:after
                    display: none

        &.block
            display: none

    &__container
        margin-top: 20px
        display: flex
        flex-direction: column
        text-align: left

    &__link
        margin-top: 105px
        font:  300 26px/100% $waverly
        color: $black
        text-transform: uppercase
        width: fit-content
        background: #ffffff
        +maxwidth($desktop)
            margin-top: 80px
            font:  300 24px/100% $waverly
        +maxwidth($tablet)
            margin-top: 60px
            font:  300 22px/100% $waverly
        +maxwidth($mobail)
            margin-top: 40px
            font:  300 20px/100% $waverly

        &.active
            color: $green
            font:  bold 26px/100% $waverlyExtra
            .menu__line
                opacity: 1
                width: 200px
            &:after
                width: 20px
                height: 20px
                right: -10px
                position: absolute
                content: ''
                border-radius: 50%
                background: $green
                cursor: initial

    &__line
        opacity: 0
        width: 0
        height: 1px
        margin: 10px
        right: 0px
        position: absolute
        content: ''
        background: linear-gradient(90deg, #264d4b, #264d4b 55%, transparent 10%, transparent 100%) repeat-x 0 95%/10px 1px
        transition: all .7s ease
        cursor: initial

    &__search
        width: 42px
        height: 42px
        margin-top: 100px
        +maxwidth($desktop)
            width: 40px
            height: 40px
            margin-top: 100px
        +maxwidth($tablet)
            width: 38px
            height: 38px
            margin-top: 80px
        +maxwidth($mobail)
            width: 36px
            height: 36px
            margin-top: 60px

    &__loupe
        width: 100%
        height: 100%
        opacity: 0.5
        background: url('/images/icons/loupe.svg') no-repeat center / contain
        transform: rotate(-92deg)
        transition: all 0.2s ease
        cursor: pointer
        &:hover
            transition: all 0.2s ease 0.05s
            transform: rotate(3deg)

