@import 'config'

.article
    width: 100%
    +maxwidth($desktop)
        margin-top: 50px
    +maxwidth($tablet)
        margin-top: 35px
    +maxwidth($mobail)
        margin-top: 20px

    &__horizontal
        +maxwidth($tablet)
            margin-top: 0

    &__title
        width: 100%
        padding-bottom: 30px
        @include style-text(60px, 14px, $vogue, $black, 100%, 500, false)
        text-align: right
        letter-spacing: 0.2px
        border-bottom: 3px solid $green
        +maxwidth($tablet)
            padding-bottom: 25px
        +maxwidth($mobail)
            padding-bottom: 20px
            border-bottom: 2px solid $green

        &-horizontal
            padding-right: 40px
            width: 100%
            padding-bottom: 30px
            @include style-text(60px, 14px, $vogue, $black, 100%, 500, false)
            text-align: right
            letter-spacing: 0.2px
            +maxwidth($desktop)
                order: 2
                padding: 20px 0 20px 0
                border-bottom: 2px solid $green

    &__wrapper
        display: flex
        flex-direction: column

        &-text,
        &-horizontal
            width: 100%
            margin-top: 50px
            position: relative
            white-space: pre-line
            @include style-text(20px, 2px, $openSans, $darkgray, 120%, 300, false)
            text-align: justify

        &-text
            +maxwidth($tablet)
                margin-top: 40px
            +maxwidth($mobail)
                margin-top: 30px

        &-horizontal
            +maxwidth($desktop)
                margin-top: 0
            +maxwidth($tablet)
                margin-top: 40px
            +maxwidth($mobail)
                margin-top: 30px

        &-nav
            margin-top: 50px
            display: flex
            align-items: flex-end
            justify-content: space-between
            +maxwidth(1330px)
                width: 50%
                margin-left:  auto
            +maxwidth($tablet)
                width: 70%
                margin-top: 40px
                margin-right: auto
            +maxwidth($mobail)
                width: 100%
                margin-top: 30px

        &-wrap
            display: flex
            flex-direction: column
            align-items: center

            .time-to-read
                margin-bottom: 15px

