@import '/config'

.button-return
    width: 150px
    height: 36px
    display: flex
    justify-content: center
    align-items: center
    background-color: $green
    font:  300 18px/100% $waverly
    color: $white
    transition: all .3s ease
    border: none
    &:hover
        color: $green
        background: $white
        border: 1px solid $green