
.main
    width: 100%
    max-width: calc(100% - 310px)
    padding:  50px 50px 50px 0
    display: flex !important
    flex-direction: row
    justify-content: space-between
    +maxwidth(1640px)
        max-width: calc(100% - 250px)
        padding: 40px 30px
    +maxwidth(1140px)
        max-width: 100%
    +maxwidth($tablet)
        padding: 30px
    +maxwidth($mobail)
        padding: 20px

    &__wrap
        max-width: 100%
        margin-top: 50px
        display: flex
        +maxwidth(1640px)
            margin-top: 10px
            padding-left: 40px
        +maxwidth($tablet)
            padding-left: 30px
        +maxwidth($mobail)
            padding-left: 20px
        +maxwidth($sm-mobail)
            flex-direction: column

        &-title
            @include style-text(70px, 15px, $vogue, $black, 78%, 500, false)
            min-width: fit-content

        &-subtitle
            @include style-text(33px, 4px, $vogue, $darkgray, 100%, 500, false)
            width: 100%
            margin: 60px 0 0 60px
            position: relative
            +maxwidth($tablet)
                margin: 50px 0 0 50px
            +maxwidth($mobail)
                margin: 30px 0 0 30px
            +maxwidth($sm-mobail)
                margin: 20px 0 0 0

            &:after
                width: 100%
                height: 5px
                top: -15px
                bottom: 0
                right: 0
                position: absolute
                content: ''
                background: $green
                opacity: 0.45
                +maxwidth($tablet)
                    top: -10px
                    height: 3px
                +maxwidth($mobail)
                    top: -5px
                    height: 2px

.main-news
    width: 100%
    max-width: calc(100% - 310px)
    flex-direction: row
    justify-content: space-between
    padding: 50px 50px 50px 0
    +maxwidth(1640px)
        max-width: calc(100% - 250px)
        padding: 20px 40px 40px
    +maxwidth(1140px)
        max-width: 100%
    +maxwidth($tablet)
        padding: 15px 30px 30px
    +maxwidth($mobail)
        padding: 0 20px 20px

.patina
    width: 370px
    height: 325px
    position: relative
    display: flex
    top: -68px
    left: -19.5%
    margin: auto
    +maxwidth(1140px)
        left: 0
        right: 0
        top: -50px
        margin: 0 auto
    +maxwidth($tablet)
        width: 340px
        height: 295px
    +maxwidth($mobail)
        top: -45px
        width: 281px
        height: 265px

    &__logo
        width: 100%

.logo-lines
    fill: none
    stroke: $black
    stroke-dasharray: 2000
    stroke-dashoffset: 2000
    animation: showLines 4s linear forwards

.logo-lines
    &:nth-child(10)
        animation-delay: 10s

.letters
    fill: transparent
    animation: showTitle 2s linear forwards
    transition: all ease-in
    animation-delay: 1s

.lines
    z-index: 101

