
.search
    width: 100%
    min-height: 75vh
    display: flex
    flex-direction: column

    &__title
        @include style-text(34px, 4px, $openSans, $black, 100%, 300, false)

    &__result
        width: 100%
        min-height: 500px
        display: grid
        grid-template-columns: repeat(3, 1fr)
        +maxwidth($tablet)
            grid-template-columns: repeat(2, 1fr)
        +maxwidth($sm-mobail)
            grid-template-columns: repeat(1, 1fr)

    &__grid
        width: 100%
        min-height: 500px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        +maxwidth($sm-mobail)
            grid-template-columns: repeat(1, 1fr)

        .news-horizontal
            width: 95%
            +maxwidth($mobail)
                width: 100%
            .news-horizontal__wrapper
                .news-horizontal__link
                    .news-horizontal__link-img
                        height: 170px
                        overflow: hidden
                        &:after
                            width: 0

    .pagination
        .pagination__counter
            .pagination__dropdown
                +maxwidth($mobail)
                    right: -43px