
.search
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

    &__title
        @include style-text(34px, 4px, $openSans, $black, 100%, 300, false)

    &__result
        width: 100%
        min-height: 500px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        +maxwidth(1030px)
            min-height: 930px
        +maxwidth($tablet)
            min-height: 650px
        +maxwidth($sm-mobail)
            min-height: 220px

        .news-horizontal
            width: 48%
            +maxwidth($mobail)
                width: 100%
            .news-horizontal__wrapper
                .news-horizontal__link
                    .news-horizontal__link-img
                        height: 170px
                        overflow: hidden
                        &:after
                            width: 0


