
/* Стили для компонентов ViewHorizontal, ViewVertical */

.container-review,
.review-wrapper
    display: flex
    justify-content: space-between
    +maxwidth($mobail)
        flex-direction: column

    &__text
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 0 60px 60px
        +maxwidth($mobail)
            width: 100%
            padding: 0 0 0 0
            height: fit-content

        &-title
            @include style-text(102px, 20px, $izvestia, $black, 100%, normal, true)
            margin-bottom: 80px
            text-align: center
            +maxwidth($desktop)
                margin-bottom: 60px
            +maxwidth($tablet)
                margin: 50px 0
            +maxwidth($mobail)
                margin: 30px 0
            +maxwidth($sm-mobail)
                margin: 20px 0

        &-subtitle
            @include style-text(42px, 6px, $openSans, $darkgray, 120%, 300, true)
            text-align: justify

.review-wrap
    width: 100%
    margin: 50px 0
    display: flex
    flex-direction: column
    text-align: justify
    +maxwidth($tablet)
        margin: 40px 0
    +maxwidth($mobail)
        margin: 30px 0
    +maxwidth($sm-mobail)
        margin: 20px 0

.review-wrap, .review-wrapper__description
    p
        width: fit-content
        @include style-text(20px, 2px, $openSans, $darkgray, 120%, 300, false)
        text-indent: 35px
        margin: 0 auto 25px
        &:last-child
            margin-bottom: 0
        &:first-child
            &:first-letter
                @include style-text(50px, 4px, $izvestia, $green, 100%, normal, true)

    p > img
        max-width: 525px
        width: 100%
        margin: 30px auto
        text-align: justify
        +maxwidth($tablet)
            margin: 25px auto
        +maxwidth($mobail)
            margin: 20px auto
        +maxwidth($sm-mobail)
            margin: 15px auto

    p > strong
        @include style-text(25px, 2px, $openSans, $carbonic, 120%, 300, true)
        padding-left: 30px
        border-left: 6px solid $carbonic
        font-style: italic
        background-color: transparent
        margin: 30px 0
        +maxwidth($tablet)
            margin: 20px 0
            padding-left: 20px
            border-left: 4px solid $carbonic
        +maxwidth($mobail)
            padding-left: 10px

    h1, h2, h3, h4, h5, h6
        @include style-text(25px, 2px, $openSans, $darkgray, 120%, 300, true)
        text-align: center
        margin-bottom: 15px

    ul, ol
        @include style-text(20px, 2px, $openSans, $darkgray, 120%, 300, false)
        padding-bottom: 15px
        margin-left: 30px

    blockquote
        width: 100%
        padding: 0 20px
        @include style-text(20px, 2px, $openSans, $darkgray, 120%, 300, false)
        position: relative
        margin: 25px 0 15px
        &:after, &:before
            width: 17px
            height: 17px
            position: absolute
            content: ' '
            background: url('/icons/sprite.svg#quote-view') no-repeat center / contain
            opacity: 0.5
        &:after
            top: 0
            left: 0
        &:before
            bottom: 0
            right: 0
            transform: rotate(180deg)
    blockquote > p
        &:first-child
            &:first-letter
                @include style-text(20px, 2px, $openSans, $darkgray, 120%, 300, false)

        &-caption
            @include style-text(18px, 2px, $openSans, $lightgray, 120%, 300, false)
            margin-bottom: 25px
            text-align: right

.review-wrapper
    display: flex
    +maxwidth($tablet)
        flex-direction: column
    &__wrap
        display: flex
        +maxwidth($mobail)
            flex-direction: column

    &__text
        display: none
        +maxwidth($tablet)
            display: flex

    &__page
        max-width: calc(50% + 250px)
        width: 100%
        margin-right: -40px
        background: $lightpink
        position: relative
        display: flex
        flex-direction: column
        +maxwidth($tablet)
            max-width: 100%
            background: none

        &-triangle
            height: 40px
            width: 3vw
            margin: 0 auto
            right: 0
            left: 0
            position: absolute
            border-top: 1px solid $white
            overflow: hidden
            background: $white
            +maxwidth($tablet)
                display: none

            &:before,
            &:after
                width: 3vw
                height: 250%
                top: -1px
                left: 47%
                position: absolute
                content: ''
                border: 1px solid $white
                border-radius: 100%
                background: $lightpink

            &:after
                left: auto
                right: 47%

        &-title
            margin: 70px 0 0
            @include style-text(58px, 8px, $izvestia, $black, 100%, 500, true)
            text-transform: uppercase
            text-align: center
            +maxwidth($tablet)
                display: none

        &-subtitle
            margin: 60px 0 0
            padding: 30px 40px
            position: relative
            @include style-text(24px, 2px, $openSans, $darkgray, 120%, 300, false)
            text-align: right
            +maxwidth($tablet)
                display: none

            span
                width: 100%
                display: flex

            &:before,
            &:after
                width: 100%
                height: 2px
                left: 0
                position: absolute
                content: ''
                background: $black

            &:before
                top: 0

            &:after
                bottom: 0
        &-text
            margin-top: 35px
            display: flex
            +maxwidth($tablet)
                flex-direction: column

    &__user
        width: 30%
        display: flex
        flex-direction: column
        align-items: center
        +maxwidth($tablet)
            width: fit-content
            order: 2

    &__description
        padding: 10px 30px
        max-width: 70%
        margin-bottom: 40px
        z-index: 2
        white-space: pre-line
        @include style-text(20px, 2px, $openSans, $darkgray, 120%, 300, false)
        text-align: justify
        border-left: 1px solid $black
        +maxwidth($tablet)
            max-width: 100%
            padding: 0
            border-left: none
            order: 1
        +maxwidth($mobail)
            margin-bottom: 30px
        +maxwidth($sm-mobail)
            margin-bottom: 20px

    &__number
        max-height: 412px
        bottom: -9px
        right: -60px
        position: absolute
        z-index: 1
        @include style-text(600px, 50px, $vogue, rgba(139, 136, 116, 0.24), 69.5%, 500, true)
        pointer-events: none
        +maxwidth($tablet)
            display: none

.review-wrapper__description
    p
        &:first-child
            &:first-letter
                color: $darkgray !important
