@import 'config'

.sorting
    max-width: calc(50% - 50px)
    width: 100%
    margin-left: auto
    display: flex
    flex-direction: column

    &__title
        font:  normal 18px/100% $waverly
        color: $darkgray
        text-align: right

    &__container
        margin-top: 30px
        display: flex
        flex-direction: row
        justify-content: space-between

    &__type
        font:  normal 18px/100% $waverly
        color: $darkgray

